html, body {
  margin:0;
  padding:0;
  font-family: Verdana, Helvetica;
}
h1 {
  text-align: center;
  color: #666666;
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}
h2 {
  text-align: left;
  color: #0a5c49/*14bf96*/;
  font-size: 25px;
}
h3 {
  color: #444444;
  font-size: 20px;
}
#list-admins, #list-mods {
  float: left;
}
#lists {
  display: inline-block;
}
p {
  text-align: left;
  color: #666666;
  font-size: 17px;
}
pre {
  font-size: 18px;
}
i {
  font-size: 13px;
}
button {
  background-color: #6c9ae2;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
a:link, a:visited {
  color: #0a5c49;
  text-decoration: underline;
  cursor: pointer;
}
a:link:active, a:visited:active {
  color: #14bf96;
}
.topnav {
  overflow: hidden;
  background-color: #dddddd;
  position: relative;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav #header {
  color: black;
  font-size: 17px;
  height: 100px;
}
.topnav #logo-container {
  display:table;
  margin: 0 auto;
}
.topnav #logo {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 19px;
}
.topnav #title {
  margin-top: 37px;
  margin-left: 5px;
  font-size: 20px;
  float: left;
}
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a.icon div {
  width: 30px;
  height: 4px;
  background-color: #888888;
  margin: 3px 0;
}
.topnav > div > a {
  text-align: center;
  background-color: #cccccc;
}
.topnav > div > a:hover {
  background-color: #6c9ae2;
}
.topnav > div > a:active {
  color: black;
}
#main-body {
  margin: 10px;
  padding: 10px;
}
#left-panel {
  min-height: 50px;
  overflow: hidden;
}
#right-panel {/* dimentions of the discord widget are 350 x 500 */
  float: right;
  width: 350px;
  min-height: 50px;
  margin-left: 10px;
}
#img-debug {
  width: 32px;
  height: 32px;
  float: left;
}
#debug-description {
  margin-left: 40px;
  margin-top: 25px;
}
#footer-text {
  font-family: monospace;
  color: #777777;
  font-size: 11px;
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #right-panel {
    float: none;
    background-color: #eeeeee;
  }
}
